body{
    text-align: center;
    background-color: skyblue;
}

#apps{
background-color: red;
}

iframe{
margin:20px;
}

img{
    transition: transform 0.2s;
    
}

img:hover{
    transform: scale(0.9);
}